DASHSCOPE_API_KEY=your_dashscope_api_key_here
DASHSCOPE_BASE_URL=https://coding.dashscope.aliyuncs.com/v1
DASHSCOPE_MODEL=qwen3.5-plus
DASHSCOPE_ENABLE_THINKING=1
APP_DEFAULT_LANGUAGE=zh
BIOCLIP_MODEL_ID=hf-hub:imageomics/bioclip
HF_HOME=/home/buluwasior/Works/llm_biofactory/models/hf_cache
BIOCLIP_OFFLINE=0
